:root {
  --bs-primary: #ab2331;
  --bs-secondary: #272727;
  --bs-primary-rgb: 171, 35, 49;
  --bs-secondary-rgb: 39, 39, 39;
  --bs-body-color-rgb: 255, 255, 255;
  --bs-body-bg-rgb: 0, 0, 0;
  --bs-font-poppins: 'Poppins', sans-serif;
  --bs-body-font-family: var(--bs-font-poppins);
  --bs-body-color: #fff;
  --bs-body-bg: #000;
  --bs-link-color: var(--bs-primary);
  --bs-link-hover-color: inherit;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
}