:root {
  --screen-padding: 32px;
}

html {
  scroll-behavior: smooth;
}

html,
body {}

a {
  color: inherit;
  text-decoration: inherit;
}

[lang="en"] {
  font-weight: medium;
  letter-spacing: 0px;
}

[lang="ar"] {
  font-weight: 600;
}

::placeholder {
  color: inherit;
  opacity: 1;
}

:-ms-input-placeholder {
  color: inherit;
}

::-ms-input-placeholder {
  color: inherit;
}

/* form */
.form {
  display: grid;
  gap: 32px;
}

.form-inputs {
  display: grid;
  gap: 32px 16px;
  grid-template-columns: repeat(12, 1fr);
}

.form-input_container {
  grid-column-end: span 12;
  display: grid;
  align-items: end;
  gap: 8px;
}

.form-input_container.size--6 {
  grid-column-end: span 6;
}

.form-input_container.style--next_part {
  margin-top: -16px;
}

.form-input_container.theme--danger {
  color: var(--bs-danger);
}

.form-input_container.theme--success {
  color: var(--bs-success);
}

.form-input_container.theme--warning {
  color: var(--bs-warning);
}

.form-input_container.theme--info {
  color: var(--bs-info);
}

.form-label {}


.form-input,
.form-button {
  display: block;
  border-width: 0;
  border-radius: 10px;
  width: 100%;
}

.form-input {
  outline: none;
  background-color: var(--bs-secondary);
  color: var(--bs-light);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.form-input_container.theme--danger .form-input {
  color: var(--bs-danger);
  border: 1px solid var(--bs-danger);
}

.form-input_container.theme--success .form-input {
  color: var(--bs-success);
  border: 1px solid var(--bs-success);
}

.form-input_container.theme--warning .form-input {
  color: var(--bs-warning);
  border: 1px solid var(--bs-warning);
}

.form-input_container.theme--info .form-input {
  color: var(--bs-info);
  border: 1px solid var(--bs-info);
}

.form-button {
  background-color: var(--bs-primary);
  color: var(--bs-body-color);
}

.form-messages {
  display: grid;
}

.form-message {
  display: flex;
  gap: 16px;
}

.form-message.theme--danger {
  color: var(--bs-danger);
}

.form-message.theme--success {
  color: var(--bs-success);
}

.form-message.theme--warning {
  color: var(--bs-warning);
}

.form-message.theme--info {
  color: var(--bs-info);
}

.form-message-icon {
  color: var(--bs-secondary);
}

.form-message-content {}

@media (min-width: 480px) {
  .form-label {
    font-size: 24px;
    line-height: 35px;
  }

  .form-input {
    padding: 8px 32px;
    font-size: 22px;
    line-height: 33px;
  }

  .form-input.size--large {
    padding: 16px 44px;
    font-size: 28px;
    line-height: 42px;
  }

  .form-button {
    padding: 8px 32px;
    font-size: 22px;
    line-height: 33px;
  }

  .form-button.size--large {
    padding: 16px 44px;
    font-size: 28px;
    line-height: 42px;
  }

  .form-messages {
    gap: 12px;
  }

  .form-message {
    font-size: 22px;
    line-height: 33px;
  }

  .form-message-icon {
    font-size: 32px;
  }
}

@media (max-width: 479px) {
  .form-label {
    font-size: 12px;
    line-height: 18px;
  }

  .form-input {
    padding: 12px;
    font-size: 17px;
    line-height: 26px;
  }

  .form-input.size--large {
    padding: 12px;
    font-size: 17px;
    line-height: 26px;
  }

  .form-button {
    padding: 12px;
    font-size: 17px;
    line-height: 26px;
  }

  .form-button.size--large {
    padding: 12px;
    font-size: 17px;
    line-height: 26px;
  }

  .form-messages {
    gap: 6px;
  }

  .form-message {
    font-size: 17px;
    line-height: 26px;
  }

  .form-message-icon {
    font-size: 24px;
  }
}

/* links list */
.links_list {
  display: grid;
  gap: 16px;
}

.links_list-link {
  text-align: center;
}

.links_list-link a {
  text-decoration: underline;
}

.links_list-link a.theme--primary {
  color: var(--bs-primary);
}

.links_list-link a.theme--secondary {
  color: #646464;
}

@media (min-width: 480px) {
  .links_list-link {
    font-size: 24px;
    line-height: 35px;
  }
}

@media (max-width: 479px) {
  .links_list-link {
    font-size: 12px;
    line-height: 18px;
  }
}

/* labeled list */
.labeled_list {
  display: grid;
  gap: 16px;
}

.labeled_list-item {}

.labeled_list-item-label {}

.labeled_list-item-content {
  color: var(--bs-body-color);
}

@media (min-width: 480px) {
  .links_list-item {
    font-size: 24px;
    line-height: 35px;
  }
}

@media (max-width: 479px) {
  .links_list-item {
    font-size: 12px;
    line-height: 18px;
  }
}

/* text */
.text {}

.text.theme--dark {
  color: var(--bs-light);
}

.text.size--small {
  font-weight: 300;
}

.text a {
  text-decoration: underline;
}

.text.theme--dark a {
  color: var(--bs-body-color);
}

@media (min-width: 480px) {
  .text {
    font-size: 24px;
    line-height: 35px;
  }

  .text.size--small {
    font-size: 18px;
    line-height: 27px;
  }
}

@media (max-width: 479px) {
  .text {
    font-size: 12px;
    line-height: 18px;
  }

  .text.size--small {
    font-size: 8px;
    line-height: 12px;
  }
}

/* links dropdown */
.links-dropdown {
  position: relative;
}

.dropdown-header {
  font-size: 22px;
  line-height: 33px;
  display: flex;
  align-items: center;
}

.dropdown-header::after {
  content: "";
  background-image: url("../img/icons/expand-more.png");
  width: 31px;
  height: 31px;
}

.dropdown-list {
  position: absolute;
  border-radius: 9px;
  min-width: 128px;
  padding: 0 16px;
  background-color: var(--bs-body-color);
  color: var(--bs-body-bg);
}

[dir="ltr"] .dropdown-list {
  right: 0;
}

[dir="rtl"] .dropdown-list {
  left: 0;
}

.links-dropdown:not(:hover) .dropdown-list {
  display: none;
}

.dropdown-list ul {
  margin: 0;
  padding: 0;
}

.dropdown-list ul li {
  padding: 16px 0;
  list-style-type: none;
  font-size: 16px;
  line-height: 25px;
}

.dropdown-list ul li:not(:last-child) {
  border-bottom: 1px solid #BCBCBC;
}

/* content card */
.content_card {
  display: grid;
  gap: 64px;
}

.content_card-header {
  display: grid;
  gap: 24px;
}

.content_card-header::after {
  content: '';
  display: block;
  margin: 0 auto;
  border-radius: 6px;
  background-color: var(--bs-primary);
}

.content_card-header-title {
  text-align: center;
}

.content_card-header-description {
  text-align: center;
}

.content_card-body {
  display: grid;
  gap: 24px;
}

.content_card-footer {
  display: grid;
  gap: 24px;
}

@media (min-width: 480px) {
  .content_card-header::after {
    margin-top: 8px;
    width: 96px;
    height: 10px;
  }

  .content_card-header-title {
    font-size: 36px;
    line-height: 55px;
  }

  .content_card-header-description {
    font-size: 24px;
    line-height: 35px;
  }
}

@media (max-width: 479px) {
  .content_card-header::after {
    width: 64px;
    height: 6px;
  }

  .content_card-header-title {
    font-size: 18px;
    line-height: 25px;
  }

  .content_card-header-description {
    font-size: 12px;
    line-height: 18px;
  }
}

/* sreen */
.screen {}

/* page */
.page {}

/* layout */
.layout {
  position: relative;
  overflow-x: hidden;
}

.layout-box {
  min-height: 100vh;
  padding: 0;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}

.layout-box-header {
  padding: var(--screen-padding);
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.layout.style--full_screen_header .layout-box-header {
  min-height: 100vh;
  /* align-content: start; */
}

.layout-box-main {
  padding: var(--screen-padding);
  display: grid;
  gap: 32px;
}

.layout.style--center_focus .layout-box-main {
  place-content: center;
}

.layout-box-footer {
  padding: var(--screen-padding);
  display: grid;
}

.layout-box-footer.theme--gray {
  background-color: #141414;
}

.layout-drawer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(var(--bs-body-bg-rgb), 0.6);
  backdrop-filter: blur(8px);
}

[dir="ltr"] .layout-drawer {
  transform: translateX(100%);
}

[dir="rtl"] .layout-drawer {
  transform: translateX(-100%);
}

.layout-drawer-main {
  max-width: 320px;
  height: 100%;
  padding: var(--screen-padding);
  overflow: auto;
  background-color: var(--bs-body-bg);
}

[dir="ltr"] .layout-drawer-main {
  margin-left: auto;
}

[dir="rtl"] .layout-drawer-main {
  margin-right: auto;
}

@media (max-width: 1023px) {
  .layout.flag--show_drawer .layout-drawer {
    transform: translateX(0);
  }
}

@media (min-width: 480px) {
  .layout-box-footer {
    gap: 64px 32px;
  }

  .layout-box-footer.theme--gray {
    padding: calc(var(--screen-padding) * 2) var(--screen-padding);
  }
}

@media (max-width: 479px) {
  .layout-box-footer {
    gap: 32px;
  }

  .layout-box-footer.theme--gray {
    padding: var(--screen-padding);
  }
}

/* header */
.header {}

.header>.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.header-logo {}

.header-logo .logo-img {
  display: block;
  max-width: 100%;
}

.header-nav {}

.header-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.header-nav ul li {
  list-style-type: none;
  font-size: 22px;
  line-height: 33px;
}

.header-actions {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.header-actions-user {

  display: flex;
  gap: 12px;
  align-items: center;
}

.header-actions-user-image {
  border-radius: 50%;
  padding: 2px;
  width: 48px;
  height: 48px;
  border: 1px solid var(--bs-body-color);
}


.header-actions-user-image .user-img {
  display: block;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--bs-secondary);
}

.header-actions-user-name {}

.header-actions-primary_action {}

.header-actions-languages {}

.header-actions-settings {}

.header-actions-settings i {
  width: 32px;
  text-align: center;
}

@media (min-width: 1024px) {
  .header-actions-user {}

  .header-actions-primary_action {}

  .header-actions-languages {}

  .header-actions-settings {
    display: none;
  }
}

@media (max-width: 1023px) {
  .header-nav {
    display: none;
  }

  .header-actions-user {
    display: none;
  }

  .header-actions-primary_action {
    display: none;
  }

  .header-actions-languages {
    display: none;
  }

  .header-actions-settings {}
}

@media (min-width: 480px) {
  .header-actions-settings {
    font-size: 32px;
  }
}

@media (max-width: 479px) {
  .header-actions-settings {
    font-size: 24px;
  }
}

/* footer */
.footer {}

.footer>.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.footer-copyrights {
  font-weight: 300;
}

.footer-social_links {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  align-items: center;
}

.footer-social_links-header {}

.footer-social_links-list {}

.footer-social_links-list ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.footer-social_links-list ul li {
  list-style-type: none;
}

.footer-social_links-list ul li i {}

@media (min-width: 1024px) {
  .footer>.container {
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 1023px) {
  .footer>.container {
    justify-content: center;
    flex-direction: column-reverse;
  }
}

@media (min-width: 480px) {
  .footer {
    font-size: 24px;
    line-height: 35px;
  }

  .footer-social_links {
    gap: 32px;
  }

  .footer-social_links-list ul {
    gap: 24px;
  }

  .footer-social_links-list ul li i {
    font-size: 32px;
  }
}

@media (max-width: 479px) {
  .footer {
    font-size: 12px;
    line-height: 18px;
  }

  .footer-social_links {
    gap: 16px;
  }

  .footer-social_links-list ul {
    gap: 12px;
  }

  .footer-social_links-list ul li i {
    font-size: 21px;
  }
}

/* side menu */
.side-menu {
  min-height: 100%;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  gap: 24px;
}

.side-menu-header {}

.side-menu-header>.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.side-menu-settings {}

.side-menu-settings i {
  width: 32px;
  text-align: center;
}

.side-menu-main {}

.side-menu-main>.container {
  display: grid;
  gap: 16px;
}

.side-menu-user {
  display: grid;
  justify-items: center;
  gap: 8px;
}

.side-menu-user-image {
  border-radius: 50%;
  padding: 2px;
  width: 128px;
  height: 128px;
  border: 2px solid var(--bs-body-color);
}


.side-menu-user-image .user-img {
  display: block;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--bs-secondary);
}

.side-menu-user-name {}

.side-menu-primary_action {
  display: grid;
  justify-content: center;
}

.side-menu-primary_action .form-button {
  min-width: 160px;
  text-align: center;
}

.side-menu-nav {
  display: flex;
  justify-content: center;
}

.side-menu-nav ul {
  margin: 0;
  padding: 0;
  display: grid;
  justify-items: center;
  gap: 8px;
}

.side-menu-nav ul li {
  list-style-type: none;
}

.side-menu-footer {}

.side-menu-languages {}

.side-menu-languages ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.side-menu-languages ul li {
  list-style-type: none;
}

@media (min-width: 480px) {
  .side-menu-settings {
    font-size: 32px;
  }
}

@media (max-width: 479px) {
  .side-menu-settings {
    font-size: 24px;
  }
}

/* footer subscription */
.footer_subscription {}

.footer_subscription>.container {
  display: grid;
  justify-content: center;
  gap: 32px;
}

.footer_subscription-title {
  text-align: center;
  font-weight: 300;
}

.footer_subscription-form {}

@media (min-width: 480px) {
  .footer_subscription-title {
    font-size: 26px;
    line-height: 39px;
  }

  .footer_subscription-form .form-inputs {
    grid-auto-flow: column;
  }

  .footer_subscription-form .form-input {
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer_subscription-form .form-button {
    padding-left: 72px;
    padding-right: 72px;
  }
}

@media (max-width: 479px) {
  .footer_subscription-title {
    font-size: 16px;
    line-height: 25px;
  }

  .footer_subscription-form .input,
  .footer_subscription-form .button {
    width: 100%;
  }
}

/* footer links */
.footer_links {}

.footer_links>.container {
  display: grid;
  gap: 32px;
  justify-content: space-between;
  max-width: 960px;
}

.footer_links-category {
  display: grid;
  gap: 8px;
  align-content: start;
}

.footer_links-category-header {
  color: #3d3d3d;
}

.footer_links-category-list {}

.footer_links-category-list ul {
  margin: 0;
  padding: 0;
  display: grid;
  gap: 16px;
}

.footer_links-category-list.theme--social ul {
  grid-auto-flow: column;
}

.footer_links-category-list li {
  list-style-type: none;
}

@media (min-width: 480px) {
  .footer_links>.container {
    grid-auto-flow: column;
  }

  .footer_links-category {
    font-size: 24px;
    line-height: 35px;
  }
}

@media (max-width: 479px) {
  .footer_links-category {
    font-size: 12px;
    line-height: 18px;
  }
}

/* footer copyrights */
.footer_copyrights {}

.footer_copyrights>.container {
  display: grid;
  gap: 24px;
  justify-items: center;
}

.footer_copyrights-logo {}

.footer_copyrights-logo .logo-img {
  display: block;
  max-width: 100%;
}

.footer_copyrights-copyrights {
  font-weight: 300;
  color: var(--bs-dark);
}

@media (min-width: 480px) {
  .footer_copyrights-copyrights {
    font-size: 24px;
    line-height: 35px;
  }
}

@media (max-width: 479px) {
  .footer_copyrights-copyrights {
    font-size: 12px;
    line-height: 18px;
  }
}

/* early bird */
.early-bird {}

.early-bird>.container {
  display: grid;
  justify-items: center;
}

.early-bird-image {}

.early-bird-img {
  display: block;
}

.early-bird-form {}

.early-bird-title {
  text-align: center;
}

.early-bird-title::after {
  content: '';
  display: block;
  margin: 0 auto;
  border-radius: 6px;
  background-color: var(--bs-primary);
}

.early-bird-description {
  text-align: center;
  color: #7A7A7A;
}

@media (max-width: 1919px) {
  .early-bird-img {
    max-height: 280px;
  }
}

@media (min-width: 480px) {
  .early-bird>.container {
    gap: 48px;
  }

  .early-bird-img {
    max-width: 100%;
  }

  .early-bird-form .form-inputs {
    grid-auto-flow: column;
  }

  .early-bird-form .form-input {
    padding-left: 20px;
    padding-right: 20px;
  }

  .early-bird-form .form-button {
    padding-left: 72px;
    padding-right: 72px;
  }

  .early-bird-title {
    font-size: 34px;
    line-height: 51px;
  }

  .early-bird-title::after {
    margin-top: 48px;
    width: 96px;
    height: 10px;
  }

  .early-bird-description {
    font-size: 24px;
    line-height: 35px;
  }
}

@media (max-width: 479px) {
  .early-bird>.container {
    gap: 36px;
  }

  .early-bird-img {
    width: 100%;
    max-width: 200px;
  }

  .early-bird-form .input,
  .early-bird-form .button {
    width: 100%;
  }

  .early-bird-title {
    font-size: 16px;
    line-height: 25px;
  }

  .early-bird-title::after {
    margin-top: 36px;
    width: 64px;
    height: 6px;
  }

  .early-bird-description {
    font-size: 14px;
    line-height: 21px;
  }
}

/* early bird thank you */
.early-bird-thank-you {}

.early-bird-thank-you>.container {
  display: grid;
  justify-items: center;
}

.early-bird-thank-you-image {}

.early-bird-thank-you-img {
  display: block;
}

.early-bird-thank-you-title {
  text-align: center;
}

.early-bird-thank-you-description {
  text-align: center;
  color: #7A7A7A;
}

.early-bird-thank-you-primary_action {}

@media (max-width: 1919px) {
  .early-bird-thank-you-img {
    max-height: 280px;
  }
}

@media (min-width: 480px) {
  .early-bird-thank-you>.container {
    gap: 24px;
  }

  .early-bird-thank-you-img {
    max-width: 100%;
  }

  .early-bird-thank-you-title {
    font-size: 34px;
    line-height: 51px;
  }

  .early-bird-thank-you-description {
    font-size: 24px;
    line-height: 35px;
  }

  .early-bird-thank-you-primary_action .form-button {
    padding-left: 96px;
    padding-right: 96px;
  }
}

@media (max-width: 479px) {
  .early-bird-thank-you>.container {
    gap: 16px;
  }

  .early-bird-thank-you-img {
    width: 100%;
    max-width: 200px;
  }

  .early-bird-thank-you-title {
    font-size: 16px;
    line-height: 25px;
  }

  .early-bird-thank-you-description {
    font-size: 14px;
    line-height: 21px;
  }

  .early-bird-thank-you-primary_action .form-button {
    padding-left: 64px;
    padding-right: 64px;
  }
}

/* informative message */
.informative_message {
  display: grid;
  justify-items: center;
}

.informative_message-image {}

.informative_message-img {
  display: block;
}

.informative_message-title {
  text-align: center;
}

.informative_message-description {
  text-align: center;
  color: #7A7A7A;
}

.informative_message-primary_action {}

@media (max-width: 1919px) {
  .informative_message-img {
    max-height: 280px;
  }
}

@media (min-width: 480px) {
  .informative_message {
    padding: 64px 0;
    gap: 48px;
  }

  .informative_message-img {
    max-width: 100%;
  }

  .informative_message-title {
    font-size: 24px;
    line-height: 35px;
  }

  .informative_message-description {
    font-size: 24px;
    line-height: 35px;
  }

  .informative_message-primary_action .form-button {
    padding-left: 96px;
    padding-right: 96px;
  }
}

@media (max-width: 479px) {
  .informative_message {
    padding: 32px 0;
    gap: 24px;
  }

  .informative_message-img {
    width: 100%;
    max-width: 200px;
  }

  .informative_message-title {
    font-size: 14px;
    line-height: 21px;
  }

  .informative_message-description {
    font-size: 14px;
    line-height: 21px;
  }

  .informative_message-primary_action .form-button {
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* auth form */
.auth_form {}

.auth_form .form-inputs {}

.auth_form .form-input {
  padding: 8px 32px;
}

.auth_form .links_list {
  gap: 32px;
}

.auth_form .text {
  text-align: center;
  max-width: 720px;
}

@media (min-width: 480px) {
  .auth_form .form-inputs {
    justify-self: center;
    width: 640px;
  }

  .auth_form .form-input {
    padding: 16px 24px;
  }
}

@media (max-width: 479px) {}

/* Categories Header */
.categories_header {
  flex-grow: 1;
}

.categories_header>.container {
  display: grid;
  height: 100%;
}

.categories_header-image {}

.categories_header-img {
  display: block;
  border-radius: 16px;
  max-width: 100%;
}

.categories_header-title {
  font-weight: 600;
}

.categories_header-description {}

.categories_header-options {
  color: var(--bs-primary);
}

.categories_header-options .escape_header_trigger {
  cursor: pointer;
  display: flex;
  gap: 16px;
  align-items: center;
}

.categories_header-options .escape_header_trigger::before {
  content: "";
  background-image: url("../img/icons/arrow-down.png");
  width: 42px;
  height: 59px;
}

@media (orientation: landscape) and (min-width: 960px) {
  .categories_header>.container {
    gap: 32px 128px;
    grid-template-areas: "categories_header-title categories_header-image""categories_header-description categories_header-image""categories_header-options categories_header-image";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: max-content 1fr max-content;
  }

  .categories_header-image {
    grid-area: categories_header-image;
  }

  .categories_header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .categories_header-title {
    grid-area: categories_header-title;
    font-size: 49px;
    line-height: 73px;
  }

  .categories_header-description {
    grid-area: categories_header-description;
    font-size: 28px;
    line-height: 42px;
  }

  .categories_header-options {
    grid-area: categories_header-options;
    font-size: 38px;
    line-height: 57px;
  }
}

@media (orientation: portrait),
(max-width: 959px) {
  .categories_header>.container {
    gap: 32px;
    justify-items: center;
    grid-template-rows: max-content max-content 1fr max-content;
  }

  .categories_header-title {
    text-align: center;
    font-size: 28px;
    line-height: 42px;
  }

  .categories_header-description {
    text-align: center;
    font-size: 17px;
    line-height: 26px;
  }

  .categories_header-options {
    text-align: center;
    font-size: 22px;
    line-height: 33px;
  }
}

@media (min-width: 480px) {}

@media (max-width: 479px) {}

/* Category */
.category {}

.category>.container {
  display: grid;
  gap: 32px;
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: medium;
}

.category-name {}

.category-more {}

.category-body {}

.category-courses {
  display: flex;
  gap: 32px 16px;
}

.category-courses.style--list {
  flex-wrap: wrap;
}

.category-course {
  flex-shrink: 0;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.category-course-image {
  position: relative;
}

.category-course-image::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, #2E2E2E00 0%, #2E2E2E 100%);
}

.category-course-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-course-details {
  position: absolute;
  bottom: 0;
  display: grid;
  justify-content: center;
  width: 100%;
  padding: 32px;
  text-align: center;
}

.category-course-name {
  font-weight: bold;
}

.category-course-name::after {
  content: '';
  display: block;
  margin: 0 auto;
  border-radius: 6px;
  background-color: var(--bs-primary);
}

.category-course-instructor {}

.category-course-link {
  width: 100%;
  height: 100%;
  background-color: #272727;
  display: grid;
  place-content: center;
  text-align: center;
}

@media (min-width: 1366px) {
  .category-course:not(:first-child:nth-last-child(3)):not(:nth-child(2):nth-last-child(2)):not(:nth-child(3):last-child):not(:first-child:nth-last-child(2)):not(:nth-child(2):last-child):not(:first-child:last-child) {
    flex-basis: calc((100% - (16px * 3)) / 4);
  }

  .category-course:first-child:nth-last-child(3),
  .category-course:nth-child(2):nth-last-child(2),
  .category-course:nth-child(3):last-child {
    flex-basis: calc((100% - (16px * 2)) / 3);
  }

  .category-course:first-child:nth-last-child(2),
  .category-course:nth-child(2):last-child {
    flex-basis: calc((100% - 16px) / 2);
  }

  .category-course:first-child:last-child {
    flex-basis: 100%;
  }

  .category-course:not(:first-child:nth-last-child(3)):not(:nth-child(2):nth-last-child(2)):not(:nth-child(3):last-child):not(:first-child:nth-last-child(2)):not(:nth-child(2):last-child):not(:first-child:last-child) .category-course-image {
    padding-top: calc(((100% * 4) + (16px * 3)) * 0.435163551401869);
  }

  .category-course:first-child:nth-last-child(3) .category-course-image,
  .category-course:nth-child(2):nth-last-child(2) .category-course-image,
  .category-course:nth-child(3):last-child .category-course-image {
    padding-top: calc(((100% * 3) + (16px * 2)) * 0.435163551401869);
  }

  .category-course:first-child:nth-last-child(2) .category-course-image,
  .category-course:nth-child(2):last-child .category-course-image {
    padding-top: calc(((100% * 2) + 16px) * 0.435163551401869);
  }

  .category-course:first-child:last-child .category-course-image {
    padding-top: 43.5163551401869%;
  }
}

@media (min-width: 1024px) and (max-width: 1365px) {
  .category-course:not(:first-child:nth-last-child(2)):not(:nth-child(2):last-child):not(:first-child:last-child) {
    flex-basis: calc((100% - (16px * 2)) / 3);
  }

  .category-course:first-child:nth-last-child(2),
  .category-course:nth-child(2):last-child {
    flex-basis: calc((100% - 16px) / 2);
  }

  .category-course:first-child:last-child {
    flex-basis: 100%;
  }

  .category-course:not(:first-child:nth-last-child(2)):not(:nth-child(2):last-child):not(:first-child:last-child) .category-course-image {
    padding-top: calc(((100% * 3) + (16px * 2)) * 0.435163551401869 * 1.3);
  }

  .category-course:first-child:nth-last-child(2) .category-course-image,
  .category-course:nth-child(2):last-child .category-course-image {
    padding-top: calc(((100% * 2) + 16px) * 0.435163551401869 * 1.3);
  }

  .category-course:first-child:last-child .category-course-image {
    padding-top: calc(43.5163551401869% * 1.3);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .category-course:not(:first-child:last-child) {
    flex-basis: calc((100% - 16px) / 2);
  }

  .category-course:first-child:last-child {
    flex-basis: 100%;
  }

  .category-course:not(:first-child:last-child) .category-course-image {
    padding-top: calc(((100% * 2) + 16px) * 0.435163551401869 * 1.6);
  }

  .category-course:first-child:last-child .category-course-image {
    padding-top: calc(43.5163551401869% * 1.6);
  }
}

@media (max-width: 767px) {
  .category-course {
    flex-basis: 100%;
  }

  .category-course .category-course-image {
    padding-top: calc(43.5163551401869% * 3);
  }
}

@media (min-width: 480px) {
  .category-name {
    font-size: 40px;
    line-height: 60px;
  }

  .category-more {
    font-size: 30px;
    line-height: 46px;
  }

  .category-course-name {
    font-size: 35px;
    line-height: 53px;
  }

  .category-course-name::after {
    width: 55px;
    height: 9px;
  }

  .category-course-instructor {
    font-size: 30px;
    line-height: 46px;
  }

  .category-course-link {
    font-size: 35px;
    line-height: 53px;
  }
}

@media (max-width: 479px) {
  .category-name {
    font-size: 22px;
    line-height: 33px;
  }

  .category-more {
    font-size: 18px;
    line-height: 25px;
  }

  .category-course-name {
    font-size: 18px;
    line-height: 25px;
  }

  .category-course-name::after {
    width: 55px;
    height: 6px;
  }

  .category-course-instructor {
    font-size: 18px;
    line-height: 25px;
  }

  .category-course-link {
    font-size: 18px;
    line-height: 25px;
  }
}

/* About Course */
.about_course {}

.about_course>.container {
  display: grid;
  gap: 32px;
}

.about_course-header {}

.about_course-title {
  font-weight: medium;
}

.about_course-body {
  display: grid;
  gap: 24px;
}

.about_course-content {
  display: grid;
  gap: 12px;
}

.about_course-views {}

.about_course-view {
  width: 100%;
  height: 100%;
}

.about_course-view:not(.status--active) {
  display: none;
}

.about_course-items {
  display: grid;
  gap: 8px;
}

.about_course-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 12px;
  padding: 8px 24px;
  background-color: #272727;
}

.about_course-item-icon {
  color: var(--bs-primary);
  font-size: 32px;
}

.about_course-item-label {}

.about_course-index {
  display: grid;
  gap: 8px;
}

.about_course-index-title {}

.about_course-index-lessons {
  background-color: #272727;
  border-radius: 12px;
  max-height: 240px;
  overflow: auto;
}

.about_course-index-lesson {
  padding: 16px 24px;
}

.about_course-index-lesson:not(:last-child) {
  border-bottom: 2px solid #707070;
}

.about_course-index-lesson-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.about_course-index-lesson-title::after {
  content: "";
  background-image: url("../img/icons/expand-more.png");
  width: 31px;
  height: 31px;
}

.about_course-index-lesson-description {
  display: none;
  color: #858585;
}

.about_course-description {
  display: grid;
  gap: 16px;
}

.about_course-description-title {
  color: #7E7B7B;
}

.about_course-description-content {}

.about_course-details {}

.about_course-details table {
  border-spacing: 16px;
}

.about_course-details table td {
  padding: 4px 0;
}

.about_course-details table td.label {
  color: #7E7B7B;
}

[dir="ltr"] .about_course-details table td:not(.label) {
  padding-left: 24px;
}

[dir="rtl"] .about_course-details table td:not(.label) {
  padding-right: 24px;
}

@media (orientation: landscape) and (min-width: 960px) {
  .about_course-content {
    grid-template-columns: 3fr 1fr;
  }

  .about_course-views {
    grid-row-end: span 2;
  }
}

@media (orientation: portrait),
(max-width: 959px) {
  .about_course-view {
    min-height: 240px;
  }
}

@media (min-width: 480px) {
  .about_course-header {
    font-size: 40px;
    line-height: 60px;
  }

  .about_course-description-title {
    font-size: 28px;
    line-height: 42px;
  }

  .about_course-details {
    font-size: 24px;
    line-height: 40px;
  }
}

@media (max-width: 479px) {
  .about_course-header {
    font-size: 22px;
    line-height: 33px;
  }

  .about_course-description-title {
    font-size: 28px;
    line-height: 42px;
  }

  .about_course-details {
    font-size: 24px;
    line-height: 40px;
  }
}

/* About Instructor */
.about_instructor {}

.about_instructor>.container {
  display: grid;
  gap: 24px;
}

.about_instructor-image {
  height: 320px;
}

.about_instructor-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.about_instructor-description {
  display: grid;
  gap: 16px;
}

.about_instructor-description-title {
  color: #7E7B7B;
}

.about_instructor-description-content {}

.about_instructor-details {}

.about_instructor-details table {
  border-spacing: 16px;
}

.about_instructor-details table td {
  padding: 4px 0;
}

.about_instructor-details table td.label {
  color: #7E7B7B;
}

[dir="ltr"] .about_instructor-details table td:not(.label) {
  padding-left: 24px;
}

[dir="rtl"] .about_instructor-details table td:not(.label) {
  padding-right: 24px;
}

@media (orientation: landscape) and (min-width: 960px) {
  .about_instructor>.container {
    grid-template-columns: 2fr 3fr;
  }

  .about_instructor-image {
    grid-row-end: span 2;
  }
}

@media (orientation: portrait),
(max-width: 959px) {
  .about_instructor-image {
    min-height: 240px;
  }
}

@media (min-width: 480px) {
  .about_instructor-description-title {
    font-size: 28px;
    line-height: 42px;
  }

  .about_instructor-details {
    font-size: 24px;
    line-height: 40px;
  }
}

@media (max-width: 479px) {
  .about_instructor-description-title {
    font-size: 28px;
    line-height: 42px;
  }

  .about_instructor-details {
    font-size: 24px;
    line-height: 40px;
  }
}

/* Course Header */
.course_header {
  flex-grow: 1;
}

.course_header>.container {
  display: grid;
  height: 100%;
}

.course_header-image {}

.course_header-img {
  display: block;
  border-radius: 16px;
  max-width: 100%;
}

.course_header-title {}

.course_header-title-course_name {
  font-weight: 600;
}

.course_header-title-course_name::after {
  content: "";
  display: block;
  /* margin-top: 8px; */
  width: 96px;
  height: 8px;
  background-color: var(--bs-primary);
  border-radius: 8px;
}

.course_header-title-instructor_name {}

.course_header-description {}

.course_header-options {
  display: flex;
  gap: 48px;
}

.course_header-option {
  text-align: center;
  display: grid;
  gap: 8px;
  justify-items: center;
}

.course_header-option-icon {
  cursor: pointer;
}

.course_header-option-label {
  text-transform: uppercase;
}

.course_header-payment {
  display: grid;
  gap: 16px;
}

.course_header-payment-action {}

.course_header-payment-summary {
  color: #7E7B7B;
}

@media (orientation: landscape) and (min-width: 960px) {
  .course_header>.container {
    gap: 32px 64px;
    grid-template-areas: "course_header-title course_header-image""course_header-description course_header-image""course_header-options course_header-image""course_header-payment course_header-image";
    grid-template-columns: 2fr 3fr;
    grid-template-rows: max-content max-content 1fr max-content;
  }

  .course_header-image {
    grid-area: course_header-image;
  }

  .course_header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .course_header-title {
    grid-area: course_header-title;
  }

  .course_header-title-course_name {}

  .course_header-title-instructor_name {}

  .course_header-description {
    grid-area: course_header-description;
  }

  .course_header-options {
    grid-area: course_header-options;
    align-self: center;
  }

  .course_header-payment {
    grid-area: course_header-payment;
  }

  .course_header-payment-action {
    justify-self: start;
  }
}

@media (orientation: portrait),
(max-width: 959px) {
  .course_header>.container {
    gap: 32px;
    justify-items: center;
    grid-template-rows: max-content max-content max-content 1fr max-content;
  }

  .course_header-title {}

  .course_header-title-course_name {
    text-align: center;
  }

  .course_header-title-course_name::after {
    margin-right: auto;
    margin-left: auto;
  }

  .course_header-title-instructor_name {
    text-align: center;
  }

  .course_header-description {
    text-align: center;
  }

  .course_header-options {
    flex-wrap: wrap;
    justify-content: center;
  }

  .course_header-payment {
    text-align: center;
  }
}

@media (min-width: 480px) {
  .course_header-title-course_name {
    font-size: 57px;
    line-height: 86px;
  }

  .course_header-title-instructor_name {
    font-size: 48px;
    line-height: 72px;
  }

  .course_header-description {
    font-size: 26px;
    line-height: 39px;
  }

  .course_header-options {
    font-size: 27px;
    line-height: 40px;
  }

  .course_header-option-icon {
    font-size: 48px;
    line-height: 72px;
  }

  .course_header-payment {
    font-size: 28px;
    line-height: 42px;
  }

  .course_header-payment-action .form-button {
    padding-right: 96px;
    padding-left: 96px;
  }
}

@media (max-width: 479px) {
  .course_header-title-course_name {
    font-size: 57px;
    line-height: 86px;
  }

  .course_header-title-instructor_name {
    font-size: 48px;
    line-height: 72px;
  }

  .course_header-description {
    font-size: 26px;
    line-height: 39px;
  }

  .course_header-options {
    font-size: 27px;
    line-height: 40px;
  }

  .course_header-payment {
    font-size: 28px;
    line-height: 42px;
  }

  .course_header-payment-action {}

  .course_header-payment-action .form-button {}
}

/* Slider */
.slider {
  position: relative;
}

.slider-viewport {
  overflow: hidden;
}

.slider-viewport>* {
  transition: transform 1s;
}

.slider-controllers {}

.slider-controller {
  position: absolute;
}

.slider-controller.type--next,
.slider-controller.type--previous {
  top: calc(50% - 32px);
  border-radius: 50%;
  width: 64px;
  height: 64px;
  background-color: var(--bs-secondary);
  text-align: center;
  line-height: 64px;
  cursor: not-allowed;
}

.slider-controller.type--next.status--active,
.slider-controller.type--previous.status--active {
  background-color: var(--bs-primary);
  cursor: pointer;
}

[dir="ltr"] .slider-controller.type--next {
  right: -32px;
}

[dir="rtl"] .slider-controller.type--next {
  left: -32px;
}

[dir="ltr"] .slider-controller.type--previous {
  left: -32px;
}

[dir="rtl"] .slider-controller.type--previous {
  right: -32px;
}

/* FAQ */
.faq {}

.faq>.container {
  display: grid;
  gap: 32px;
}

.faq-header {}

.faq-title {
  font-weight: medium;
}

.faq-body {}

.faq-categories {
  display: grid;
  gap: 24px;
}

.faq-category {
  display: grid;
  gap: 24px;
}

.faq-category-header {}

.faq-category-title {
  color: #7E7B7B;
}

.faq-category-body {}

.faq-questions {
  display: grid;
  gap: 16px;
}

.faq-question {
  display: grid;
  gap: 16px;
  border-radius: 20px;
  padding: 20px;
  background-color: #262626;
}

.faq-question-title {}

.faq-question-body {
  display: none;
}

@media (min-width: 480px) {
  .faq-header {
    font-size: 40px;
    line-height: 60px;
  }

  .faq-category-title {
    font-size: 32px;
    line-height: 48px;
  }

  .faq-question-title {
    font-size: 28px;
    line-height: 42px;
  }
}

@media (max-width: 479px) {
  .faq-header {
    font-size: 22px;
    line-height: 33px;
  }

  .faq-category-title {
    font-size: 21px;
    line-height: 31px;
  }

  .faq-question-title {
    font-size: 17px;
    line-height: 26px;
  }
}

/* Popup */
.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}

.popup>.container {
  height: 100%;
  display: grid;
  place-content: center;
}

.popup-backdrop {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.72;
}

.popup-box {
  position: relative;
  background-color: #ffffff;
  border-radius: 24px;
}

.popup-box-header {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 16px 32px;
  border-bottom: 1px solid #7E7B7B;
}

.popup-box-header-title {
  color: var(--bs-primary);
}

.popup-box-header-close {
  color: #7E7B7B;
}

.popup-box-body {
  padding: 16px 32px;
  color: #000000;
}

.popup-close {
  cursor: pointer;
}

@media (min-width: 480px) {
  .popup-box-header-title {
    font-size: 28px;
    line-height: 42px;
  }

  .popup-box-header-close {
    font-size: 32px;
  }
}

@media (max-width: 479px) {
  .popup-box-header-title {
    font-size: 22px;
    line-height: 33px;
  }

  .popup-box-header-close {
    font-size: 24px;
  }
}

.search_form {}

.search_form>.container {}

.search_form-form {}

.search_form-form .form-inputs {
  grid-auto-flow: column;
  width: 100%;
  max-width: 560px;
  justify-self: center;
  gap: 0;
}

[dir="ltr"] .search_form-form .form-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

[dir="rtl"] .search_form-form .form-input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

[dir="ltr"] .search_form-form .form-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

[dir="rtl"] .search_form-form .form-button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@media (min-width: 480px) {
  .search_form-form .form-input {
    padding-left: 20px;
    padding-right: 20px;
  }

  .search_form-form .form-button {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 479px) {
  .search_form-title {
    font-size: 16px;
    line-height: 25px;
  }
}